# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
db.sqlite3
media

# Environnement virtuel
env/
venv/
ENV/

# VS Code
.vscode/

# PyCharm
.idea/

# Fichiers système
.DS_Store
Thumbs.db

# Migrations
*/migrations/*
!*/migrations/__init__.py
